<!DOCTYPE html>
<!-- język strony -->
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- zestaw znaków pl -->
    <meta charset="utf-8"/>
    <title>Aplikacja webowa do zarządzania wydatkami domowymi</title>
    <meta value="description" content="subdescription"/>
    <meta value="keywords" content="value1, value2, value3 ect."/>
    <!-- to jest pod IE -->
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1"/>
    <!-- optional -->
    <meta value="author" content="Justyna Stachera"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,300i,400,400i,700,700i&amp;subset=latin-ext"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet"/>
</head>
<body>
<div id="div-container">
    <div id="div-logo">
        <span class="span-site-title">WYDATKI DOMOWE</span>
    </div>
    <div id="div-panel">
        <div class="div-dropdown">
            Jesteś zalogowany jako: <span id="span-user-info" th:text="${logInUser}"></span>
            <button id="btn-dropdown">
                <img id="img-chevron-down" th:src="@{/img/chevron_down.png}"/>
            </button>
            <div id="div-dropdown-list" class="div-dropdown-content">
                <a th:href="@{/accountData}">PANEL UŻYTKOWNIKA</a>
                <form th:action="@{/logout}" method="post">
                    <a>
                        <input id="btn-logout" type="submit" value="WYLOGUJ"/>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div id="div-menu">
        <a th:href="@{/help}">
            <div class="div-menu-option-single">INFO &amp; POMOC</div>
        </a>
        <a th:href="@{/expenses/selectAll}">
            <div class="div-menu-option-single">WYDATKI</div>
        </a>
        <a th:href="@{/loans/selectAll}">
            <div class="div-menu-option-single">DEBET</div>
        </a>
        <a th:href="@{/taxes/selectAll}">
            <div class="div-menu-option-single">PODATKI</div>
        </a>
        <a th:if="${isReadOnly}" th:href="@{/statistics}">
            <div class="div-menu-option-single">STATYSTYKI</div>
        </a>
        <a th:href="@{/forecasting/selectAll}">
            <div class="div-menu-option-single">PROGNOZOWANIE</div>
        </a>
        <a th:if="${isAdmin}" th:href="@{/edit}">
            <div class="div-menu-option-single">EDYCJA</div>
        </a>
    </div>
    <div id="div-content">
        <span class="span-site-title">INFO &amp; POMOC</span>
        <div class="div-dotted-line-vertically"></div>

        <h2>Prawa dostępu</h2>

        <h3>Użytkownik</h3>

        Użytkownikowi mogą zostać przypisane następujące prawa:
        <ol>
            <li>
                <b>ODCZYT</b> - użytkownik ma wgląd zarówno do swoich rekordów jak i rekordów innych użytkowników.
                Brak prawa do odczytu sprawia, że użytkownik ma wgląd tylko do swoich rekordów.
            </li>
            <li>
                <b>DODAWANIE</b> - użytkownik ma prawo dodawać do bazy nowe rekordy.
            </li>
            <li>
                <b>MODYFIKACJA</b> - użytkownik ma prawo modyfikować tylko swoje rekordy. Nadanie mu tego prawa nie
                upoważnia go jednak do modyfikacji rekordów innych użytkowników.
            </li>
        </ol>

        Po zarejestrowaniu użytkownik domyślnie ma przypisane: <b>ODCZYT</b>, <b>DODAWANIE</b>, <b>MODYFIKACJA</b>.
        Administratorzy jednak mogą mu w każdej chwili te prawa ograniczyć.

        <h3>Administrator</h3>

        Wyróżniamy dwie grupy administratorów:
        <ol>
            <li>
                <b>SUPER ADMIN</b> - na całą bazę przypada tylko jeden taki administrator. Jest on domyślnie tworzony w
                bazie
                przy pierwszym uruchomieniu aplikacji i z jej poziomu nie ma możliwości jego usunięcia. Może nadawać
                prawa innym użytkownikom, modyfikować rekordy wszystkich użytkowników i jako jedyny odbierać prawa
                administratora innym administratorom.
            </li>
            <li>
                <b>ADMIN</b> - od poprzednika różni się tylko tym, że nie może modyfikować danych logowania oraz
                resetować haseł innych administratorów. Tak samo jak <b>SUPER ADMIN</b> może za to awansować innych
                użytkowników na
                administratorów oraz modyfikować i usuwać rekordy innych użytkowników łącznie z rekordami
                administratorów.
            </li>
        </ol>

        <div class="div-warn-msg">
            <p class="p-tip">
                <b>Uwaga!</b>
                W zależności od nadanych praw niektóre zakładki mogą być dla użytkownika niedostępne.
            </p>
        </div>

        <h2>Zakładki</h2>

        <h3>Wydatki</h3>

        W zakładce <b><i>Wydatki</i></b> możemy dodawać nowe wydatki, modyfikować je oraz usuwać. Jest także podgląd
        wydatków
        widniejących w bazie. W zależności od praw dostępu użytkownik może nie mieć dostępu do wszystkich komponentów.

        Podział wydatków:
        <ol>
            <li>
                <b>JEDNORAZOWE</b> - wstawia do bazy jednorazowy wydatek. Ponadto jednorazowe wydatki mogą się powielać.
            </li>
            <li>
                <b>CYKLICZNE</b> - w przypadku cyklicznych wydatków należy pamiętać o tym, by nazwa takiego wydatku nie
                kolidowała z nazwami innych wydatków, zarówno jednorazowych jak i cyklicznych. W przypadku pierwszego
                cyklicznego wydatku o określonej nazwie nie ma potem możliwości zmiany daty jego wprowadzenia. Można
                natomiast zmieniać daty wydatków powiązanych z pierwszym wydatkiem cyklicznym, o ile data tego wydatku
                nie będzie mieścić się w okresie, za który już zarejestrowano rozliczenie. Modyfikując nazwę lub
                kategorię wydatku cyklicznego, modyfikujemy także nazwy oraz kategorie powiązanych z nim wydatków.
                W zależności od ilości zarejestrowanych wpłat będą generować się komunikaty w sekcji 'Uwagi', jeśli
                ilość wpłat nie będzie się zgadzać w porównaniu z aktualną datą. By usunąć cały cykl wydatków, trzeba
                najpierw usunąć wszystkie wydatki cykliczne, które nastąpiły po dacie rozpoczęcia cyklu. Po ich
                usunięciu możemy dopiero usunąć pierwszy wprowadzony rekord.
            </li>
        </ol>

        <h3>Debet</h3>

        W zakładce <b><i>Debet</i></b> możemy wprowadzać, modyfikować oraz usuwać zaciągnięte pożyczki. W zależności od
        ilości
        opłaconych miesięcy będą generować się komunikaty w sekcji 'Uwagi', jeśli ilość opłaconych miesięcy nie będzie
        się zgadzać w porównaniu z aktualną datą.

        <h3>Podatki</h3>

        W zakładce <b><i>Podatki</i></b> można wprowadzać dane dotyczące rozliczeń za dany rok. Wystarczy tylko
        wprowadzić rok oraz
        kwotę, a na podstawie tych danych podatek sam zostanie obliczony. W przypadku zwrotu podatku użytkownik może sam
        wpisać tę kwotę. W przypadku nieuregulowanego podatku w sekcji 'Uwagi' będą się generować stosowne komunikaty.

        <h3>Statystyki</h3>

        W zakładce <b><i>Statystyki</i></b> widnieją wykresy kolejno dla wydatków, debetów i podatków.

        <h3>Prognozowanie</h3>

        W zakładce <b><i>Prognozowanie</i></b> mamy możliwość dokonania prognozy wydatków, jeżeli do bazy zostały
        wprowadzone tzw.
        wydatki cykliczne.

        <h3>Edycja</h3>

        Do tej zakładki mają dostęp jedynie administratorzy. Można w niej dodawać, modyfikować oraz usuwać kategorie
        wydatków, formy płatności, oferty pożyczek itd. Ponadto można edytować dane użytkowników, nadawać i odbierać im
        prawa.

        <h2>Panel użytkownika</h2>

        Służy on wprowadzania danych osobowych tj. nazwisko czy PESEL. Można także zmienić hasło lub usunąć konto.
    </div>
    <div id="div-footer">
        Justyna Stachera - <b>PRACA INŻYNIERSKA</b> - 2018 - wszelkie prawa zastrzeżone &copy;
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>

</html>