<!DOCTYPE html>
<!-- język strony -->
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- zestaw znaków pl -->
    <meta charset="utf-8"/>
    <title>Aplikacja webowa do zarządzania wydatkami domowymi</title>
    <meta name="description" content="subdescription"/>
    <meta name="keywords" content="value1, value2, value3 ect."/>
    <!-- to jest pod IE -->
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1"/>
    <!-- optional -->
    <meta name="author" content="Justyna Stachera"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,300i,400,400i,700,700i&amp;subset=latin-ext"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet"/>
</head>
<body>
<div id="div-container">
    <div id="div-logo">
        <span class="span-site-title">WYDATKI DOMOWE</span>
    </div>
    <div id="div-panel">
        <div class="div-dropdown">
            Jesteś zalogowany jako: <span id="span-user-info" th:text="${logInUser}"></span>
            <button id="btn-dropdown">
                <img id="img-chevron-down" th:src="@{/img/chevron_down.png}"/>
            </button>
            <div id="div-dropdown-list" class="div-dropdown-content">
                <a th:href="@{/accountData}">PANEL UŻYTKOWNIKA</a>
                <form th:action="@{/logout}" method="post">
                    <a>
                        <input id="btn-logout" type="submit" value="WYLOGUJ"/>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div id="div-menu">
        <a th:href="@{/help}">
            <div class="div-menu-option-single">INFO &amp; POMOC</div>
        </a>
        <a th:href="@{/expenses/selectAll}">
            <div class="div-menu-option-single">WYDATKI</div>
        </a>
        <a th:href="@{/loans/selectAll}">
            <div class="div-menu-option-single">DEBET</div>
        </a>
        <a th:href="@{/taxes/selectAll}">
            <div class="div-menu-option-single">PODATKI</div>
        </a>
        <a th:if="${isReadOnly}" th:href="@{/statistics}">
            <div class="div-menu-option-single">STATYSTYKI</div>
        </a>
        <a th:href="@{/forecasting/selectAll}">
            <div class="div-menu-option-single">PROGNOZOWANIE</div>
        </a>
        <a th:if="${isAdmin}" th:href="@{/edit}">
            <div class="div-menu-option-single">EDYCJA</div>
        </a>
    </div>
    <div id="div-content">
        <span class="span-site-title">STATYSTYKI</span>
        <div class="div-dotted-line-vertically"></div>
        <div class="table-data">
            <table align="center">
                <tr>
                    <td>
                        <a th:href="@{/statistics/expenses}">
                            <input class="btn-edit-menu" type="button" value="WYDATKI"/>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/statistics/loans}">
                            <input class="btn-edit-menu" type="button" value="DEBET"/>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/statistics/taxes}">
                            <input class="btn-edit-menu" type="button" value="PODATKI"/>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div-dotted-line-vertically"></div>
    </div>
    <div id="div-footer">
        Justyna Stachera - <b>PRACA INŻYNIERSKA</b> - 2018 - wszelkie prawa zastrzeżone &copy;
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>

</html>